.App {
  text-align: center;
}

.allLists
{
  display: flex;
  margin: auto;
  justify-content: center;
}

.allLists h3{
  margin: 2px 40px;
}

.listline{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 2px 20px;
}

.ht{
  height: 20px;
  padding: 4px 6px;
  margin: 5px;
}

.searchbar{
  width: 50%;
  max-width: 550px;
  min-width: 300px;
  margin: 5px 0px;
  margin-right: 2px;
}